<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Associação de Discord</title>
  <link rel="stylesheet" th:href="@{/css/formulariotokendiscord.css}" />
</head>
<body>
  <div class="wrapper">
    <div class="corner-bar"></div>

    <div class="container">
      <h1>Associe sua Conta do Discord</h1>
      <p>Insira o token fornecido para completar a associação</p>

      <form id="discordForm">
        <div class="input-group">
          <label for="token">Token:</label>
          <input type="text" id="token" name="token" placeholder="Seu token" required />
        </div>

        <div id="mensagemErro" class="error-message-container" style="display: none;">
          <span class="icon">⚠️</span>
          <span id="erroTexto"></span>
        </div>
		<div id="mensagemSucesso" class="success-message" style="display: none;"></div>
        <button type="submit">VALIDAR</button>
      </form>
    </div>
  </div>

  <script th:src="@{/js/formulariotokendiscord.js}"></script>
</body>
</html>
